OPENVIDU_URL: https://sdrg.myvnc.com
OPENVIDU_SECRET: 1234
spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3306/dgrr
    username: root
    password: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
jwt:
  secret: ${JWT_SECRETKEY}

## Amazon S3
cloud:
  aws:
    s3:
      bucket: dgrr-bucket
    stack:
      auto: false
    credentials:
      access-key: ${AMAZON_S3_ACCESS_KEY}
      secret-key: ${AMAZON_S3_SECRET_KEY}
    region:
      static: ap-northeast-2

##logging
logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error