$mainblack: #121417;
$blue: #469FF6;
$grey: #505050;

.App {
  // 여백없이 고정
  position: absolute;
  top: 0;
  left: 0;

  // 뷰포트 크기에 맞게 변경
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

