@import "App.scss";

.MainPage {
  background: $blue;
  width: 100%;
  height: 100%;
  text-align: center;
}

.MainBody {
  display: flex;
  flex-direction: column;
  height: calc(100% - 64x);
}

.MainNav {
  margin: auto;
  width: calc(100% - 48px);
  height: 64px;
  display: flex;
  justify-content: space-between;

  img {
    width: 24px;
  }
}

.MainImages {
  margin: 46px 0;
}

.MainBtns {
  height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#character {
  width: 60%;
}

#title {
  width: 60%;
}
