@import "App.scss";

$grey: #505050;
$grey-dark: darken($grey, 10%);
$font-family-nickname: "Helvetica", sans-serif;
$font-family-intro: "Overpass", sans-serif;
$nick-name-color: #1969b9;
$intro-color: #000000;
$versus-image: url("../images/match-versus.png");

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    transform: scale(3);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  30% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

//
@keyframes spreadLight {
  0% {
    background-size: 1% 100%;
    background-position: center;
  }

  100% {
    background-size: 100% 100%;
    background-position: center;
  }
}

.MatchPage {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  // width: 100%;
  height: 100vh;
  background: rgb(70, 159, 246, 1);
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(
      to right,
      rgb(70, 159, 246, 1),
      rgba(229, 240, 243, 0.7),
      rgb(70, 159, 246, 1)
    );
    background-repeat: no-repeat;
    animation: spreadLight 0.6s;
  }

  .VersusImage {
    position: absolute;
    top: 43%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 30vw;
    background-image: $versus-image;
    background-size: cover;
    background-position: center;
    animation: popIn 0.3s forwards 0s, popOut 1s forwards 5s;
    opacity: 0;
    z-index: 3;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 150%;
      height: 150%;
      background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.1),
        transparent
      );
      z-index: -1;
      transform: translateY(100%) scale(1.5);
      opacity: 0;
    }

    &::before {
      transform-origin: center bottom;
      animation: smokeRise 5s infinite;
    }

    &::after {
      transform-origin: center top;
      animation: smokeRise 5s infinite reverse;
    }

    &.smoke-active::before,
    &.smoke-active::after {
      opacity: 0.5;
    }
  }
}

.MatchedPerson1,
.MatchedPerson2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50%;
  gap: 2rem;
  z-index: 2;

  &:not(:last-child) {
    margin-bottom: 5%;
  }

  &:not(:first-child) {
    margin-top: 5%;
  }
}

.MatchedPerson1 {
  transform: translateX(100%);
  align-items: center;
  justify-content: flex-end;
  animation: slideFromRight 0.5s forwards 1s, slideToRight 0.5s forwards 4s;

  .MatchedPersonBackground1 {
    width: 100%;
    height: 50%;
    background-color: #fee500;
    clip-path: polygon(-20% 102%, 41% 0, 102% 0, 102% 102%, -20% 102%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 10);
  }

  .MatchedPersonProfile,
  .MatchedPersonNickName,
  .MatchedPersonIntro {
    position: absolute;
    bottom: 15%;
  }

  .MatchedPersonProfile {
    left: 5%;

    img {
      left: -15%;
      top: -5%;
      border: 5px solid #fee500;
      box-shadow: 5px 5px 20px #fee500;
    }
  }

  .MatchedPersonNickName,
  .MatchedPersonIntro {
    left: 45%;
    max-width: 50%;
  }

  .MatchedPersonNickName {
    bottom: 32%;
  }
  .MatchedPersonIntro {
    bottom: 5%;
    text-align: left;
  }
}

.MatchedPerson2 {
  transform: translateX(-100%);
  align-items: center;
  justify-content: flex-start;
  animation: slideFromLeft 0.5s forwards 1s, slideToLeft 0.5s forwards 4s;

  .MatchedPersonBackground2 {
    width: 100%;
    height: 50%;
    background-color: #f0133b;
    clip-path: polygon(120% -2%, 59% 100%, -2% 100%, -2% -2%, 120% -2%);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 10);
  }

  .MatchedPersonProfile,
  .MatchedPersonNickName,
  .MatchedPersonIntro {
    position: absolute;
    top: 15%;
  }

  .MatchedPersonProfile {
    right: 5%;

    img {
      right: -5%;
      bottom: -5%;
      border: 5px solid #f0133b;
      box-shadow: 5px 5px 20px #f0133b;
    }
  }

  .MatchedPersonNickName,
  .MatchedPersonIntro {
    right: 45%;
    max-width: 50%;
  }

  .MatchedPersonNickName {
    top: 8%;
    margin-bottom: 10%;
  }

  .MatchedPersonIntro {
    top: 20%;
    text-align: left;
  }
}

.MatchedPersonProfile {
  img {
    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05); // 확대 효과
      box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.6);
    }
  }
}

.MatchedPersonNickName {
  font-family: $font-family-nickname;
  color: $nick-name-color;
  font-size: calc(2vw + 2vh);
  font-weight: bold;
  z-index: 2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);

  padding: 5px 5px;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.MatchedPersonIntro {
  font-family: $font-family-intro;
  color: $intro-color;
  font-size: calc(1.2vw + 1.2vh);
  max-width: 80vw;
  max-width: 30vh;
  text-align: left;
  overflow-wrap: break-word;
  z-index: 3;

  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.7),
      rgba(240, 240, 240, 0.7)
    );
  }
}
