@import "App.scss";

.MenuPage {
  background: white;
  width: 100%;
  height: 100%;
  text-align: center;
}

.MenuBody {
  img{
    height: 150px;
  }
  p {
    color: black;
    
  }
  display: flex;
  flex-direction: column;
  height: calc(100% - 45px);
}
.MenuLogout {
   position: absolute;
  bottom: 36px;
  right: 24px;
  color: $blue;
}

.MenuNav {
  margin: auto;
  width: calc(100% - 48px);
  height: 64px;
  display: flex;
  justify-content: space-between;

  img {
    width: 24px;
  }
}

.MenuImages {
  margin: 46px 0;
}

.MenuBtns {
  height: 276px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.MenuBackBtns {
 text-align: center;
}

#character {
  width: 60%;
}

#title {
  width: 60%;
}