@import 'App.scss';

$tier_gold: #feca39;
$tier_silver: #c0c0c0;
$tier_bronze: #cc8e34;

.MyProfile {
	width: 100%;
	height: 100%;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: white;
	width: 70%;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.MarginFrame {
	margin: 14px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navbar-left {
	display: flex;
	align-items: center;

	span {
		margin: 8px;
		font-weight: bold;
	}
}

.profileBody {
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
	.profileImage {
		width: 150px;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.profileInfo {
		margin: 0 30px;
		width: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.nickname {
			font-weight: bold;
			margin: 10px 0;
		}
		.description {
			font-size: small;
			margin: 10px 0;
		}
	}
}

.tier {
	margin: 40px 0;
	span {
		font-weight: bold;
	}
	.tierInfo {
		width: 20px;
		position: absolute;
		right: 20px;
	}
	.tierImage {
		width: 150px;
		margin: 0 auto;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px;
	}

	.progress-bar__container {
		width: 80%;
		height: 2rem;
		border-radius: 2rem;
		position: relative;
		overflow: hidden;
		transition: all 0.5s;
		will-change: transform;
		box-shadow: 0 0 5px $tier_bronze;
	}

	.progress-bar {
		position: absolute;
		height: 100%;
		width: 100%;
		content: '';
		background-color: $tier_bronze;
		top: 0;
		bottom: 0;
		left: -100%;
		border-radius: inherit;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		font-family: sans-serif;
	}

	.progress-bar__text {
		display: none;
	}
}

.record {
	margin: 20px 0;
	.recordTitle {
		display: flex;
		justify-content: space-between;
		.recentlyBattle {
			font-weight: bold;
		}
		.moreBattle {
			font-size: small;
			align-self: center;
		}
	}

	.divisionLine {
		border-top: 1px solid #444444;
		margin: 10px 0;
	}

	.recordList {
		.list_ul {
			.battle-item {
				margin: 4px 0;
				.battle-result {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.result-left {
						display: flex;
						align-items: center;
						.result-image {
							width: 36px;
							margin: 3px;
						}
						.profile-image {
							width: 36px;
							border-radius: 50%;
							margin: 3px;
						}
						.nickname {
							margin: 3px;
						}
					}
					.result-right {
						.date {
							font-size: small;
							margin: 3px;
						}
					}
				}
			}
		}
	}
}
