@import "App.scss";

$tier_gold: #feca39;
$tier_silver: #c0c0c0;
$tier_bronze: #cc8e34;

.MyProfile {
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.MarginFrame {
  margin: 24px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;

  span {
    margin: 8px;
    font-weight: bold;
    font-size: 18px;
  }
}

.profileBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 200px;
  margin: 34px 0;

  img {
    width: 100px;
    height: 100px;
    border-radius: 70%;
  }

  .nickname {
    font-weight: bold;
    font-size: 18px;
  }

  .description {
    font-size: 16px;
  }
}

.tier {
  .tierInfo {
    display: flex;
    height: 24px;

    span {
      margin: auto 0;
    }

    img {
      margin-left: 4px;
      width: 24px;
      height: 24px;
    }
  }

  .tierImage {
    width: 100px;
    height: 100px;
    margin: 24px auto;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}

#battleDetailNone {
  text-align: center;
  padding-bottom: 24px;

  Button {
    margin-top: 30px;
  }
}

.record {
  .recordTitle {
    display: flex;
    justify-content: space-between;
    .recentlyBattle {
      font-weight: bold;
    }
    .moreBattle {
      font-size: small;
      align-self: center;
    }
  }

  .divisionLine {
    border-top: 1px solid #444444;
    margin: 10px 0;
  }

  .recordList {
    .list_ul {
      .battle-item {
        margin: 4px 0;
        .battle-result {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .result-left {
            display: flex;
            align-items: center;
            .result-image {
              width: 36px;
              margin: 3px;
            }
            .profile-image {
              width: 36px;
              height: 36px;
              border-radius: 50%;
              margin: 3px;
            }
            .nickname {
              margin: 3px;
            }
          }
          .result-right {
            .date {
              font-size: small;
              margin: 3px;
            }
          }
        }
      }
    }
  }
}
