.roundchange-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.roundchange-modal {
  width: calc(100% - 48px);
  height: 300px;

  z-index: 10;

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #fff;
  border: 1px solid;
  border-radius: 8px;

  text-align: center;

  padding: 40px;

  img {
    width: 150px;
  }

  p {
    font-size: 24px;
    font-weight: bold;
  }
}
